# Our binary
lab

# IntelliJ
.idea/

# vim
*.sw*
*.vim

# test
_test

coverage*
vendor

# The testdata-* copies created by the unit tests must be ignored or the tests
# will encounter write errors as Git attempts to add the dirs to its index.
testdata-*

# Travis "travis_wait" generated log.
travis_wait_*