language: go

os:
  - linux

go:
  - 1.17.x

# use containers which run faster and have cache
sudo: false

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

addons:
  apt:
    packages:
      - silversearcher-ag

before_script:
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - echo -e "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDkTcgXnHuqR0gbwegnr9Zxz4hTkjjV/SpgJNPJz7mo/HKNbx0rqjj1P0yGR053R9GSFFim2ut4NK9DPPUkQdyucw+DoLkYRHJmlJ4BNa9NTCD0sl+eSXO2969kZojCYSOgbmkCJx8mdgTwhzdgE/jhBrsY0hPE6pRTlU+H68/zeNdJUAIJf0LLXOm3hpTKLA19VICltl/j9VvBJpgRHdBylXEyL8HokYpjkQQk1ZXj3m7Nlo8yDdg4VcljOJWC+Xh8kxRMfK5x/VRVsYKCQXN5QlzKeqf7USRDUS/7mFoPUBW+d4kwKtGxRsWuIL2yeqzifZUTOgsh9+ZWAWxWffQZ your_email@example.com" > ~/.ssh/id_rsa.pub
  - echo -e "-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEA5E3IF5x7qkdIG8HoJ6/Wcc+IU5I41f0qYCTTyc+5qPxyjW8d\nK6o49T9MhkdOd0fRkhRYptrreDSvQzz1JEHcrnMPg6C5GERyZpSeATWvTUwg9LJf\nnklztvevZGaIwmEjoG5pAicfJnYE8Ic3YBP44Qa7GNITxOqUU5VPh+vP83jXSVAC\nCX9Cy1zpt4aUyiwNfVSApbZf4/VbwSaYER3QcpVxMi/B6JGKY5EEJNWV495uzZaP\nMg3YOFXJYziVgvl4fJMUTHyucf1UVbGCgkFzeUJcynqn+1EkQ1Ev+5haD1AVvneJ\nMCrRsUbFriC9snqs4n2VEzoLIffmVgFsVn30GQIDAQABAoIBAQDPQm2sQbti0mN8\nD4Uawl8D40v30n8WhUa7EbPTOmlqKAQ2sfDhex9KRbTLEmEBmImA/Eee8o9iCTIy\n8Fv8Fm6pUHt9G6Pti/XvemwW3Q3QNpSUkHqN0FDkgecQVqVBEb6uHo3mDm4RFINX\neOmkp30BjIK9/blEw1D0sFALLOEUPaDdPMwiXtFgqfrFSgpDET3TvQIwZ2LxxTm0\ncNmP3sCSlZHJNkZI4hBEWaaXR+V5/+C1qblDCo5blAWTcX3UzqrwUUJgFi6VnBuh\n7S9Q6+CEIU+4JRyWQNmY8YgZFaAp6IOr/kyfPxTP1+UEVVgcLn3WDYwfG9og0tmz\nfzlruAgBAoGBAPfz73Pey86tNZEanhJhbX8gVjzy2hvyhT0paHg0q/H6c1VWOtUH\nOwZ3Ns2xAZqJhlDqCHnQYSCZDly042U/theP4N8zo1APb4Yg4qdmXF9QE1+2M03r\nkS6138gU/CSCLf8pCYa6pA/GmsaXxloeJGLvT4fzOZRsVav80/92XHRhAoGBAOu2\nmKh4Gr1EjgN9QNbk9cQTSFDtlBEqO/0pTepvL73UvNp/BAn4iYZFU4WnklFVBSWc\nL84Sc732xU12TAbTTUsa6E7W29pS8u7zVTxlIdQIIU5pzDyU1pNNk2kpxzte5p3Y\nPDtniPFsoYLWoH0LpsKL93t2pLAj+IOkE6f3XBq5AoGAIKaYo5N1FxQr952frx/x\nQUpK0N/R5Ng8v18SiLG26rhmM5iVSrQXC7TrHI7wfR8a9tC6qP/NqnM9NuwC/bQ0\nEEo7/GhaWxKNRwZRkmWiSFLNGk9t1hbtGU+N1lUdFtmloPIQdRNiw0kN3JTj474Q\nYI7O1EItFORnK6yxZfR6HEECgYEA1CT7MGUoa8APsMRCXyaiq15Pb8bjxK8mXquW\nHLEFXuzhLCW1FORDoj0y9s/iuKC0iS0ROX8R/J7k5NrbgikbH8WP36UxKkYNr1IC\nHOFImPTYRSKjVsL+fIUNb1DSp3S6SsYbL7v3XJJQqtlQiDq8U8x1aQFXJ9C4EoLR\nzhKrKsECgYBtU/TSF/TATZY5XtrN9O+HX1Fbz70Ci8XgvioheVI2fezOcXPRzDcC\nOYPaCMNKA5E8gHdg4s0TN7uDvKTJ+KhSg2V7gZ39A28dHrJaRX7Nz4k6t2uEBjX9\na1JidpAIbJ+3w7+hj6L299tVZvS+Y/6Dz/uuEQGXfJg/l/5CCvQPsA==\n-----END RSA PRIVATE KEY-----" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa*
  - eval `ssh-agent -s`
  - ssh-add ~/.ssh/id_rsa

script:
  - travis_wait 20 make test
  - diff -u <(echo -n) <(gofmt -d .)

after_success:
  - |
    for r in $(ag -Q 'log.Fatal' | awk -F: '{ print "github.com/zaquestion/lab/" $1 ":" $2-1 "\\.[0-9][0-9]\\?," $2+1 }' | sed 's|/|\\/|g')
      do sed -i "/$r/d" coverage.txt
    done
  - bash <(curl -s https://codecov.io/bash)
  - git reset HEAD --hard

deploy:
  provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | GO111MODULE=on bash
  on:
    branch: master
    tags: true
    condition: $TRAVIS_OS_NAME = linux

# docs have to be built and deployed after goreleaser or the release shas won't
# match
after_deploy:
  - sed -i "s|lab version.\+$|lab version $(echo ${TRAVIS_TAG} | tr -d 'v')|" README.md
  - DEPLOY=1 docs/build.sh

notifications:
  email: false

env:
  global:
    secure: "GIUVJh4CgdQApuW2kI5KtppeB3GzBGslybjiLI9RA5ndEkcvK8Af/RrlUFCt7yUgXwmlUAdxg9YLAmTHfyqrqdO80ODhmcN4PvG219mP0G8E56Dodr4zRCMOZ6OjpbC9GXNc90gfuEZxAYFK+HGUlhtJguOWJ6LV54wkqMelTn6LCLjr6cR+WBHkhZK89koZCEsnGGGG7C3RS7St+EuZtxPSM1NSOqB86buRlaTTJ7LXAGGaTlK90QGUBQAFTvdPnO65kBDBNK77wgXiVteSzHWtm1mnk4Ng+jGu3B9JMdW84o6JCNnCAGGqCu8CrKloWhoUI2BKJrE7rYYiRJ7sARMxJOoZPWaVN+8UU3VFP9gau/671Q9zUzprQ/YbKnJb694MGTmC9DAeUIpgVb9I0dd+Y1JeeKXqRiohn7Coa727yiWEnUbf2MDxVlRDUbZ+RI5NuegIEIlTiu5s2fQHiGvHwnx2ltsBMtRTvLibSQwotZJIFv0Mgcxe/YC0/CvpAH9069Mj3geApFfNtbi/1XiA19e0Aq70S+qRpBlUIops/5YaCCfAqiXGCkG/iY/Vc8yjqeCd6d3C2oSTQfWNpRAJKPTtfFuLuudOARJEf6wsa/ct5PZOjOTvDr0NMQZXkvdKm36WhiSIeUoUtMkQqn2FkKoQgbvoYll9HUYcjG8="

